<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.67">
    <script>node(&apos;master&apos;) {
    docker.withServer(&apos;unix:///var/run/docker.sock&apos;) {
        stage(&apos;Git clone&apos;) {
            git &apos;git@github.com:iteabit/docker_nodejs_app.git&apos;
        }
        stage(&apos;Build&apos;) {
            docker
                .image(&apos;jenkins-agent-ubuntu&apos;)
                .inside(&apos;--volumes-from jenkins-master&apos;) {
                    sh &quot;&quot;&quot;
                        npm install;
                    &quot;&quot;&quot;
                }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>